<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paisagens Geomorfológicas do Brasil</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
        <style>
      .header-bg {
        background: linear-gradient(to right, rgba(109, 159, 17, 0.6), rgba(29, 188, 201, 0.6)), url('https://plus.unsplash.com/premium_photo-1679957335673-720b2dfe28b7?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
        background-size: cover;
        background-position: center;
        color: white;
        padding: 60px 0;
      }

    </style>
</head>
<body>
    <!-- Header -->
    <header class="header-bg text-center">
      <%= image_tag("logo2.png", alt: "Paisagens Geomorfológicas do Brasil", class: "logo") %>
      <section class="text-center mt-3">
        <h1 class="display-4">Paisagens Geomorfológicas do Brasil</h1>
        <p class="lead">Explore, compartilhe e descubra os pontos geomorfológicos incríveis do nosso país!</p>
        <%# <a href="#map-section" class="btn btn-primary btn-lg">Ver Mapa</a> %>
      </section>
    </header>

    <!-- Main Content -->
    <main class="container">
        <!-- Landing Page Section -->
        <!-- Map Section -->
        <section id="map-section" class="mt-5">
            <div id="map"></div>
        </section>

        <!-- Form Section -->
        <% if user_signed_in? %>
          <section class="upload-form">
              <%= form_with url: points_path, local: true do |form| %>
                <div class="form-group">
                  <label for="point_latitude" class="form-label">Latitude</label>
                  <input type="text" class="form-control" name="point[latitude]" id="point_latitude" value="<%= @point.latitude %>">
                </div>
                <div class="form-group">
                  <label for="point_longitude" class="form-label">Longitude</label>
                  <input type="text" class="form-control" name="point[longitude]" id="point_longitude" value="<%= @point.longitude %>">
                </div>
                <div class="form-group">
                  <label for="point_name" class="form-label">Nome</label>
                  <input type="text" class="form-control" name="point[name]" id="point_name" value="<%= @point.name %>">
                </div>
                <div class="form-group">
                  <label for="point_description" class="form-label">Descrição</label>
                  <textarea name="point[description]" class="form-control" id="point_description"><%= @point.description %></textarea>
                </div>
                <div>
                  <input type="submit" value="Criar ponto" class="btn btn-success btn-lg mt-3">
                   <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger btn-lg mt-3 ml-2" %>
                </div>
              <% end %>
          </section>
        <% end %>

        <% if !user_signed_in? %>
          <section class="login-section text-center m-4">
            <div class="container">
                <h2 class="display-4">Poste seus pontos!</h2>
                <p>Para contribuir, faça login abaixo.</p>
                <%= link_to "Login", new_user_session_path, class: "btn btn-primary btn-lg" %>
                <hr>
            </div>
          </section>
        <%end%>

        <section class="text-center mb-3">
          <a href="http://lsie.unb.br/ugb/" target="_blank">
            <img style="height: 100px" src="http://lsie.unb.br/ugb/img/logo_ugb.jpg" alt="União da Geomorfologia Brasileira">
          </a>
        </section>
    </main>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <a href="https://github.com/pjfernandes/paisagens" target="_blank" class="ml-3">
                <i class="fab fa-github fa-2x"></i>
            </a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
        loadMap = function() {
              var map = L.map('map').setView([-15, -55], 4);

              var googleSatellite = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}',
                {
                  maxZoom: 20,
                  subdomains:['mt0','mt1','mt2','mt3'],
                  attribution: '&copy; <a href="https://www.google.com/maps">Google Maps</a>'
                }
              );

              googleSatellite.addTo(map);

              // L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
              //   attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
              // }).addTo(map);

              var points = <%= raw @points.to_json %>;

              points.forEach((point) => {
                L.marker([point.latitude, point.longitude]).addTo(map)
                .bindPopup("<b>" + point.name + "</b><br>" + point.description);
              });
            };
            loadMap();
    </script>

</body>
</html>
